dtd/style.ent

<!ENTITY % unit  "(pt | px | pica | in | mm | cm | c) 'mm'">
<!ELEMENT txt-style EMPTY>
<!ATTLIST txt-style id ID #REQUIRED
                    shortcut CDATA #IMPLIED
                    parentstyleid IDREF #IMPLIED
                    font-face CDATA "Bitstream Vera Regular"
                    font-family-hint CDATA "Vera"
                    font-weight-hint CDATA "Regular"
                    font-slant-hint CDATA "Normal"
                    font-size CDATA "12"
                    word-tracking CDATA "0"
                    font-size-units (pt|pc) "pt"
                    font-width CDATA "1"
                    char-tracking CDATA "0"
                    font-leading-type (relative|auto|fixed|grid) "relative"
                    font-leading-type-amount CDATA "1"
                    font-leading-mode (proportional|baseline|top-of-caps|custom) "proportional"
                    font-leading-mode-amount CDATA "1"
                    font-rank (subscript|superscript) #IMPLIED
                    font-capitalization (uppercase|lowercase|title-case|small-caps) #IMPLIED
                    font-underline (yes|no) "no"
                    font-strikethrough (yes|no) "no"
                    font-outline (yes|no) "no"
                    text-stroke-color CDATA #IMPLIED
                    text-stroke-shadow CDATA #IMPLIED
                    text-stroke-opacity CDATA #IMPLIED
                    text-fill-color CDATA #IMPLIED
                    text-fill-shadow CDATA #IMPLIED
                    text-fill-opacity CDATA #IMPLIED
                    justification (left|right|center|justify|force-justify) "left"
                    language CDATA "en"
                    text-direction CDATA "ltr"
                    solid-block (yes|no) "no"
>

<!-- 
* "font-width" is in fractions 1=100% (normal), 0.25=25% (smallest).
* "font-leading-mode": baseline is mostly used in typography, top-of-cap is
the word processor style, proportional is the default where text baseline is
80% from the top of the slug.
* Use standard ISO codes for "language".
* "text-direction" is ltr=Left to right; rtl=Right to left -->

<!ELEMENT par-style EMPTY>
<!ATTLIST par-style id ID #REQUIRED
                    shortcut CDATA #IMPLIED
                    parentstyleid IDREF #IMPLIED
                    par-indent-first CDATA #IMPLIED
                    par-indent-left CDATA #IMPLIED
                    par-indent-right CDATA #IMPLIED
                    par-indent-unit %unit;
                    par-indent-hanging (yes|no) "no"
                    par-spacing-before CDATA #IMPLIED
                    par-spacing-after CDATA #IMPLIED
                    par-spacing-unit %unit;
                    par-type (normal|bullet|drop-cap|incr-number) "normal"
                    bullet-char ENTITY #IMPLIED
                    word-tracking CDATA "0"
>
<!--
Paragraph attributes
    * Set Hyphenation: Select to customize Auto Hyphenation options.
    * Auto Hyphenation: Select to hyphenate the paragraph. 
-->

<!ELEMENT table-style EMPTY>
<!ATTLIST table-style   id ID #REQUIRED
                        border-width CDATA "1"
                        border-style CDATA "solid"
                        border-color CDATA "black"
                        background-color CDATA "none"
>
<!ELEMENT table-cellstyle EMPTY>
<!ATTLIST table-cellstyle   id ID #REQUIRED
                        border-width CDATA "1"
                        border-style CDATA "solid"
                        border-color CDATA "black"
                        background-color CDATA "none"
>
